

body {
  background: url(../images/72502123b.png);
  background-color: #ccffcc;
}

input[type="radio"] {
	margin-left: 25px;
    margin-right: 10px;
}


#ques1 {
	margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 550px;
	margin-top: 10px;
	padding: 15px;
	text-align: left;
	background-color: #00ccff;
	font-weight: bold;
	color: black;
}

.ans {
	text-align: left;
	padding-top: 15px;
}

#ques2 {
	margin-bottom: 10px;
	margin-left: 30px;
	margin-right: 550px;
	margin-top: 10px;
	padding: 15px;
	text-align: left;
	background-color: #ff66ff;
	font-weight: bold;
	color: black;

}


#ques3 {
	margin-bottom: 10px;
	margin-left: 30px;
	margin-right: 550px;
	margin-top: 10px;
	padding: 15px;
	text-align: left;
	background-color: #ffff00;
	font-weight: bold;
	color: black;
}


#ques4 {
	margin-bottom: 10px;
	margin-left: 30px;
	margin-right: 550px;
	margin-top: 10px;
	padding: 15px;
	text-align: left;
	background-color: #996633;
	font-weight: bold;
	color: black;
}

#ques5 {
	margin-bottom: 10px;
	margin-left: 30px;
	margin-right: 550px;
	margin-top: 10px;
	padding: 15px;
	text-align: left;
	background-color: #33cc33;
	font-weight: bold;
	color: black;
}

#ques6 {
	margin-left: 30px;
	margin-top: 10px;
	margin-right: 550px;
	margin-bottom: 5px;
	padding: 15px;
	text-align: left;
	background-color: #ff9900;
	font-weight: bold;
	color: black;
}


#titleRow {
	padding: 10px;
	margin-left: 25px;
	margin-top: 10px;
	text-align: center;
	height: 55px;
	background-color: black;
	color: white;
}

#timer {
	margin-left: 25px;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	height: 55px;
	background-color: black;
	color: white;
}

#right {
	padding-top: 10px;
	margin-left: 25px;
	margin-top: 10px;
	margin-left: 25px;
	text-align: left;
	height: 50px;
	background-color: black;
	font-weight: bold;
	color: white;
}

#wrong {
	padding-top: 10px;
	margin-left: 25px;
	margin-top: 10px;
	text-align: left;
	height: 50px;
	background-color: black;
	font-weight: bold;
	color: white;
}

#empty {
	padding-top: 10px;
	margin-left: 25px;
	margin-top: 10px;
	text-align: left;
	height: 50px;
	background-color: black;
	font-weight: bold;
	color: white;
}

#button-1 {
	padding-top: 10px;
	margin-left: 25px;
	margin-top: 10px;
	text-align: left;
	height: 50px;
	background-color: black;
	font-weight: bold;
	color: white;
}



#finalAnswer {
	margin-left: 100px;
	margin-top: 10px;
	height: 50px;
	background-color: black;
	color: white;

}

.jumbotron {
	background-color: black;
	color: white;
}